<div class="table">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-3 borde">
          <img src="assets/img/alum1.jpg" alt="">
      </div>
      <div class="col-1"></div>
      <div class="col-6 borde">        
        <div class="nombre">ALAN BRITO</div>        
        <div class="descripcion">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, 
          facilis. Eos cumque architecto molestiae, consequatur nihil nobis autem, eveniet, 
          quasi velit sed voluptates enim quaerat harum sit minus assumenda dicta!
        </div>
      </div>
      <div class="col-1"></div>      
    </div>
  </div>

